@charset "utf-8";

$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;

$primary: $dracula-purple;
$link: $dracula-pink;
$info: $dracula-cyan;
$success: $dracula-green;
$warning: $dracula-yellow;
$danger: $dracula-red;
$input-border-color: $dracula-purple;



@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-dracula/src/bulma-dracula.scss";